<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.namix.LearningBaduk.dao.BoardDao">

	<select id="getBoards" resultType="com.namix.LearningBaduk.entity.BoardView">
		select * from boardview where boardCategory = #{category} and ${field} like '%${query}%' order by boardId desc limit #{offset}, #{size}
	</select>

	<select id="getPageCount" resultType="int">
		select count(*) from boardview where boardCategory = #{category} and ${field} like '%${query}%'
	</select>
	
	<insert id="writeDetail">
		insert into board(boardTitle, boardContent, boardCategory, userId) values(#{title}, #{content}, #{category}, #{userId})
	</insert>

	<select id="getDetailBoard" resultType="com.namix.LearningBaduk.entity.BoardView">
		select * from boardview where boardId = #{id}
	</select>
	
	<update id="updateDetail">
		update board set boardTitle = #{title}, boardContent = #{content} where boardId = #{id}
	</update>
	
	<delete id="deleteDetail">
		delete from board where boardId = #{id}
	</delete>
	
	<select id="getComments" resultType="com.namix.LearningBaduk.entity.Comment">
		select * from comment where boardId = #{id}
	</select>

</mapper>