<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.namix.LearningBaduk.dao.UserDao">

	<select id="login" resultType="com.namix.LearningBaduk.entity.User">
		select * from user where userId = #{id}
	</select>
	
	<select id="idOverlapCheck" resultType="int">
		select count(*) from user where userId = #{id}
	</select>
	
	<select id="nicknameOverlapCheck" resultType="int">
		select count(*) from user where userNickname = #{nickname}	
	</select>
	
	<insert id="signUp" parameterType="com.namix.LearningBaduk.entity.User">
		insert into user(userId, userPassword, userNickname, userEmail) values(#{userId}, #{userPassword}, #{userNickname}, #{userEmail})
	</insert>
	
	<update id="editProfile">
		update user set userPassword = #{password}, userNickname = #{nickname}, userEmail = #{email} where userId = #{id}
	</update>
	
	<delete id="withdraw">
		delete from user where userId = #{id}
	</delete>
	
	<insert id="addProfileImg">
		insert into userProfileImg(imgName, imgPath, userId) values(#{imgName}, #{imgUrl}, #{userId})
	</insert>
	
	<delete id="deleteProfileImg">
		delete from userProfileImg where userId = #{userId}
	</delete>
	
	<select id="getProfileImg" resultType="com.namix.LearningBaduk.entity.UserProfileImg">
		select * from userProfileImg;
	</select>
	
	<select id="getUsers" resultType="com.namix.LearningBaduk.entity.User">
		select * from user where ${field} like '%${query}%' order by userDate desc limit #{offset}, #{size}
	</select>
	
	<select id="getUserCount" resultType="int">
		select count(*) from user where ${field} like '%${query}%'
	</select>
	
	<select id="getReportUsers" resultType="com.namix.LearningBaduk.entity.User">
		select * from user where userReport >= 1 and ${field} like '%${query}%' order by userDate desc limit #{offset}, #{size}
	</select>
	
	<select id="getReportUserCount" resultType="int">
		select count(*) from user where userReport >= 1 and ${field} like '%${query}%'
	</select>
	
	<update id="initUserReport">
		update user set userReport = 0 where userId = #{id}
	</update>

</mapper>