/* common */
a {
	text-decoration: none;
	color: black;
}

.text-right {
	text-align: right;
}

.vertical-align {
	vertical-align: middle;
}

/* userMenu */
.userMenuClick:hover {
	text-decoration: underline;
}

.messages .userMenuBox {
	position: absolute;
	left: -100px;
	top: 30px;
	background: #dae8d3;
	padding: 10px;
	z-index: 3;
	width: 150px;
}

.userMenuBox {
	position: absolute;
	left: -30px;
	top: 30px;
	background: #dae8d3;
	padding: 10px;
	z-index: 3;
	width: 150px;
}

.userMenuBox li {
	list-style: none;
	margin: 3px 0 3px 0;
}

.userMenuPointer {
	cursor: pointer;
}

/* popup */
.popupHeader {
	background: #ccd0cc;
	padding: 15px;
	font-weight: bold;
}