#detailTitle, #postCommentText, #commentList{
	font-size: 1.1rem;
}
#likeIconBox{
	padding-right: 40px;
}
#dislikeIconBox{
	padding-left: 40px;
}
#deleteComment{
	padding-right: 40px;
}
.likeDislikeImg, #deleteCommentBtn, .commentPage, .boardPage{
	cursor: pointer;
}