<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.namix.LearningBaduk.dao.BoardDao">

	<select id="getBoards"
		resultType="com.namix.LearningBaduk.entity.BoardView">
		select * from boardview where boardCategory = #{category}
		and ${field} like '%${query}%' order by boardId desc limit #{offset},
		#{size}
	</select>

	<select id="getDetailBoard"
		resultType="com.namix.LearningBaduk.entity.BoardView">
		select * from boardview where boardId = #{id}
	</select>

	<select id="getPageCount" resultType="int">
		select count(*) from
		boardview where boardCategory = #{category} and ${field} like
		'%${query}%'
	</select>

	<select id="getMyWritingBoards"
		resultType="com.namix.LearningBaduk.entity.BoardView">
		select * from boardview where userId =
		#{userId} and
		boardTitle like '%${query}%' order by boardId desc limit
		#{offset},
		#{size}
	</select>

	<select id="getMyWritingPageCount" resultType="int">
		select count(*)
		from boardview where userId = #{userId} and boardTitle like
		'%${query}%'
	</select>

	<select id="getMyOwnBoards"
		resultType="com.namix.LearningBaduk.entity.MyBoard">
		select * from
		myboard where userId = #{userId} and
		myBoardTitle like '%${query}%'
		order by myBoardId desc limit #{offset},
		#{size}
	</select>

	<select id="getMyDetailBoard"
		resultType="com.namix.LearningBaduk.entity.MyBoard">
		select * from
		myboard where myBoardId = #{id}
	</select>

	<select id="getMyOwnPageCount" resultType="int">
		select count(*) from
		myboard where userId = #{userId} and myBoardTitle like '%${query}%'
	</select>

	<select id="getReportedBoards"
		resultType="com.namix.LearningBaduk.entity.BoardView">
		select * from boardview where boardReport >= 1 and
		${field}
		like '%${query}%' order by boardId desc limit #{offset},
		#{size}
	</select>

	<select id="getReportedBoardCount" resultType="int">
		select count(*) from
		boardview where boardReport >= 1 and ${field} like '%${query}%'
	</select>

	<update id="initBoardReport">
		update board set boardReport = 0 where boardId =
		#{id}
	</update>

	<update id="addBoardReport">
		update board set boardReport = boardReport + 1 where
		boardId = #{boardId}
	</update>

	<select id="haveYouReported" resultType="int">
		select count(*) from
		reportlist where reportedUser = #{boardIdString} and reporter =
		#{userId}
	</select>

	<delete id="deleteBoardReportList">
		delete from reportlist where reportedUser =
		#{boardIdString} and reportType = 'board'
	</delete>

	<select id="getUsersLastBoardId" resultType="int">
		select boardId from
		board where userId = #{userId} order by boardId desc limit 1;
	</select>

	<select id="getBoardsUser" resultType="String">
		select userId from board
		where boardId = #{id}
	</select>

	<select id="getUsersLastMyBoardId" resultType="int">
		select myBoardId
		from myboard where userId = #{userId} order by myBoardId desc limit 1;
	</select>

	<select id="getDetailsRowNumber" resultType="int">
		select sb.rn from
		(select b.*, row_number() over(order by boardId desc) as rn from board
		as b where boardCategory = #{category}) as sb where boardId = #{id};
	</select>

	<select id="getMyDetailsRowNumber" resultType="int">
		select sb.rn from
		(select b.*, row_number() over(order by myBoardId desc) as rn from
		myboard as b where userId = #{userId}) as sb where myBoardId = #{id};
	</select>

	<select id="getCategory" resultType="String">
		select boardCategory from
		board where boardId = #{id}
	</select>

</mapper>